{% extends "base.html" %}
{% load user_filters %}
{% block title %}
    {% if is_edit %}
        Редактировать актив
    {% else %}
        Добавить актив
    {% endif %}
{% endblock title %}
{% block page_header %}
    {% if is_edit %}
        <h1> Редактировать актив </h1>
    {% else %}
        <h1>Добавить актив</h1>
    {% endif %}
{% endblock page_header %}
{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-7  align-items-md-center">
        {% include 'includes/check_errors.html' %}
        </div>
        <div class="col-md-7 align-items-md-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'includes/fields.html' %}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary" style = "border-radius: 13px; margin:20px auto;">
                        {% if is_edit %}
                            Сохранить
                        {% else %}
                            Добавить
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
