{% extends 'base.html' %}
{% block page_header %}
  <h1>ИТ Активы</h1>
  <span class="subheading">
    <p>Список активов</p>
  </span>
{% endblock page_header %}

{% block top_pagination %}
  {% include 'includes/paginator.html' %}
{% endblock top_pagination %}

{% block floating_menu %}
  <nav class="floating-menu">
    <h3>Группы активов</h3>
    <br>
    {% for gr in group %}<a href='{{ request.path }}?group={{ gr.id }}'>{{ gr.title }}</a>{% endfor %}
  </nav>
{% endblock floating_menu %}

{% block content %}
  {% for asset in page_obj %}
    {% include 'includes/assetcard.html' %}
    <br>
  {% endfor %}
{% endblock content %}

{% block bot_pagination %}
  {% include 'includes/paginator.html' %}
{% endblock bot_pagination %}

