{% extends 'base.html' %}
{% block title %}
  Последние обновления на сайте
{% endblock title %}
{% block overall_content %}
<div class="row justify-content-center">
  <div class="container" style="background-color: #28364112; border-radius: 26px; width:70%;">
    <h2 class="center" style = "margin: 1em;">Последние активы:</h2>
    {% for asset in page_obj|slice:'0:3' %}
      {% include 'includes/assetcard.html' %}
      <br>
    {% endfor %}
    <div class="clearfix">
      <a class="btn btn-outline-primary float-end "
         style = "border-radius: 13px;margin: 20px auto;" role="button"
         href="{% url 'itasset:itasset_list' %}">Все активы&nbsp;⇒
      </a>
    </div>
  </div>
</div>
{% endblock overall_content %}
