{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  ИТ актив {{ itasset.title|slice:':30' }}
{% endblock title %}
{% block page_header %}
  <h1>{{ itasset.title }}</h1>
{% endblock page_header %}
{% block content %}
<div class="container position relative">
  <h1 class="center">Паспорт актива</h1>
  <article class="episode">
    <div class="episode__number">01</div>
    <div class="episode__content">
      <div class="title">Описание системы</div>
        <div class="story">
          <p>{{ itasset.description|safe }}</p>
        </div>
      </div>
    </div>
  </article>
  <article class="episode">
    <div class="episode__number">02</div>
    <div class="episode__content">
      <div class="title">Описание топологии</div>
        <div class="story">
          <p class="title">Размещение</p>
          <p>{{ itasset.allocation|safe }}</p>
          <p class="title">Сервера/инстансы</p>
          <p>{{ itasset.instances|safe }}</p>
          
          <p class="title">Адресное пространство</p>
          <figure>
            <blockquote class="blockquote">
              <p class="mb-0">{{ itasset.ipscope|safe }}</p>
            </blockquote>
          </figure>
          <p class="title">Зависимости ПО и версии</p>
          <p>{{ itasset.relations|safe }}</p>
          <p class="title">Текущие настройки</p>
          <p>{{ itasset.settings|safe }}</p>
        </div>
    </div>
  </article>
  <article class="episode">
    <div class="episode__number">03</div>
    <div class="episode__content">
      <div class="title">Компоненты системы</div>
        <div class="story">
            <p>{{ itasset.components|safe }}</p>
        </div>
    </div>
  </article>
  <article class="episode">
    <div class="episode__number">04</div>
    <div class="episode__content">
      <div class="title">Порядок управления</div>
        <div class="story">
             <p>{{ itasset.management|safe }}</p>
        </div>
    </div>
  </article>
  <article class="episode">
    <div class="episode__number">05</div>
    <div class="episode__content">
      <div class="title">Порядок доступа</div>
        <div class="story">
          <p>{{ itasset.access|safe }}</p>
        </div>
    </div>
  </article>   
  <article class="episode">
    <div class="episode__number">06</div>
    <div class="episode__content">
      <div class="title">Учетные записи</div>
        <div class="story">
          <p>{{ itasset.userlist|safe }}</p>
        </div>
    </div>
  </article>   
  <article class="episode">
    <div class="episode__number">07</div>
    <div class="episode__content">
      <div class="title">Регламентные действия</div>
        <div class="story">
          <p>{{ itasset.regulations|safe }}</p>
        </div>
    </div>
  </article>   
  <article class="episode">
    <div class="episode__number">08</div>
    <div class="episode__content">
      <div class="title">Дополнительная информация</div>
        <div class="story">
          <p>{{ itasset.additional_info|safe }}</p>
        </div>
    </div>
  </article>   
</div>     
{% endblock content %}
