.it_accordion {
  background-color: rgb(197, 193, 193);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-radius: 13px;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  border: none;
  margin-top: 10px;
}

.active,
.it_accordion:hover {
  background-color: #ccc;
}

.it_accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.it_acc_panel {
  padding: 18 auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 10px auto;
}