{% extends "base.html" %}
{% load static %}
{% block title %}Войти{% endblock %}
{% block page_header %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
  <h1>Вход в систему</h1>
{% endblock page_header %}
{% block content %}
  <div class="screen">
    <div class="screen__content">
      <form class="login" method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {% include 'includes/fields.html' %}
        <button class="button login__submit" type="submit">
          <span class="button__text">ВОЙТИ</span>
          <i class="button__icon fa fa-chevron-right" style="font-size:16px"></i>
        </button>
        <br/>
        <style>
                div {width: 100%;}
                a {display: block; text-align: center; font-size: 10pt; color:lightgray;}
        </style>
        <a class="forgot" href="{% url 'users:password_reset' %}">Забыли пароль?</a>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
{% endblock content %}
