.file_card {
  position: relative;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 5px 8px #c1c2c4;
  box-sizing: border-box;
  overflow: hidden;
  margin: 5px 5px;
  padding: 5px auto;
  width: 120px;
  height: 120px;
  padding: 10px;
}

.file_card-header {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  top: 0;
  size: 100%, 45%;
}

.file_card-image {
  width: 50px;
  height: 50px;
}

.file_card-content {
  font-family: 'Sansita One', sans-serif;
  position: absolute;
  top: 55%;
  left: 5px;
  size: 100%, 55%;
  padding: 1% 1%;
  font-size: 12px;
}

.file_card-title {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 1.3em;
}

.file_card-text {
  position: absolute;
  top: 50%;
  translate: 0, -50%;
  color: #AAA;
}

.file_card-more {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 8px;
  color: #7fa1ad;
  font-style: italic;
}

.file_card:hover {
  transform: scale(1.02);
  box-shadow: 0px 3x 5px #6d6e6e;
}

.file_card-content,
.file_card-more:hover {
  color: #727272;
}